RewriteEngine on

RewriteRule ^code$ code.php [L]
RewriteRule ^feed$ feed.php [L]
RewriteRule ^index$ index.php [L]
RewriteRule ^profile$ profile.php [L]
RewriteRule ^signup$ signup.php [L]
RewriteRule ^addpost$ addpost.php [L]
RewriteRule ^signin$ signin.php [L]
RewriteRule ^setupprofile$ setupprofile.php [L]
RewriteRule ^editpost$ editpost.php [L]
RewriteRule ^members$ members.php [L]
RewriteRule ^readmore$ readmore.php [L]
RewriteRule ^adminreadmore$ adminreadmore.php [L]
RewriteRule ^editprofile$ editprofile.php [L]
RewriteRule ^forgetpassword$ forgetpassword.php [L]
RewriteRule ^favourite$ favourite.php [L]
RewriteRule ^adminlogin$ adminlogin.php [L]
RewriteRule ^admin$ admin.php [L]
RewriteRule ^adminprofilevisit$ adminprofilevisit.php [L]
RewriteRule profile/([0-9a-zA-Z_.@]+) profile.php?username=$1 [NC,L]
RewriteRule favourite/([0-9a-zA-Z_.@]+) favourite.php?username=$1 [NC,L]
RewriteRule adminprofilevisit/([0-9a-zA-Z_.@]+) adminprofilevisit.php?username=$1 [NC,L]
