@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

main {
    min-height: 70vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

.btn {
    background: rgb(253, 89, 30) !important;
    border: none;
}

.navbar {
    padding: 10px 10px;
}

.navbar-brand {
    display: flex !important;
    align-items: center;
    font-size: 1.2em;
}

.slick-go {
    /* border: 2px solid goldenrod; */
}

.banner {
    min-height: 400px;
    padding: 180px 80px;
}

.hero-text h1,
.hero-text p {
    color: white;
}

.hero-text p {
    text-align: justify;
}

.usp-section {
    padding: 60px 0;
    /* background: #dddddd; */
    background: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cards-section {
    display: flex;
    padding: 40px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: rgb(253, 248, 247);
    display: flex;
    margin: 10px 5px;
    padding: 20px;
    border-radius: 8px;
    max-width: 350px;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 10px 10px 40px -22px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 40px -22px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 40px -22px rgba(0, 0, 0, 0.6);
}

.card:hover {
    -webkit-box-shadow: 10px 10px 40px -22px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 10px 10px 40px -22px rgba(0, 0, 0, 0.77);
    box-shadow: 10px 10px 40px -22px rgba(0, 0, 0, 0.77);
}

.card img {
    max-width: 80px;
}

.story-section {
    background: url(https://images.pexels.com/photos/691919/pexels-photo-691919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-section h1 {
    font-size: 4em;
}


/* ----------------------------feed--------------------------------- */

.feed-body-section {
    background: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.post-img {
    display: flex;
}

.post-img img {
    width: 100%;
}

.feed-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

.feed-cards .card img {
    min-width: 100%;
}

.post-card {
    max-width: 45   0px !important;
    min-width: 420px !important;
    text-align: left;
}


/* -------------------------------profile--------------------------------- */

.profile-jumbotron {
    background: #feedd5;
}

.profile-section {
    display: flex;
    padding: 60px 20px;
}

.profile-img {
    width: 300px;
}

.profile-img img {
    max-width: 100%;
}

.profile-details {
    padding: 10px;
}


/* ----------------------------footer---------------------------------- */

.footer-distributed {
    background-color: #212529;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}


/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}


/* -------------------------------media queries--------------------  */

@media(max-width:600px) {
    .banner {
        padding: 100px 20px;
    }
    .story-section h1 {
        font-size: 3em;
        text-align: center;
    }
    .profile-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}